@model OC.Core.Domain.Entities.Proveedor

<h2>Registrar Proveedor</h2>

<form asp-action="Create" method="post">

    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Contacto</label>
        <input asp-for="Contacto" class="form-control" />
        <span asp-validation-for="Contacto" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Tipo de Producto</label>
        <input asp-for="TipoProducto" class="form-control" />
        <span asp-validation-for="TipoProducto" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">
        Guardar Proveedor
    </button>

    <a asp-action="Index" class="btn btn-secondary">
        Cancelar
    </a>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
