@model OC.Core.Domain.Entities.Proveedor

<h2>Editar Proveedor</h2>

<form asp-action="Edit" method="post">

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Activo" />

    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Numero Telefonico</label>
        <input asp-for="NumeroTelefonico" class="form-control" />
        <span asp-validation-for="NumeroTelefonico" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Correo</label>
        <input asp-for="Correo" class="form-control" />
        <span asp-validation-for="Correo" class="text-danger"></span>
    </div>



    <button type="submit" class="btn btn-primary">
        Actualizar
    </button>

    <a asp-action="Index" class="btn btn-secondary">
        Cancelar
    </a>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
