@{
    ViewData["Title"] = "Dashboard";
}

<div class="card-dashboard">
    <h1 class="display-5 text-primary">Bienvenido, @User.Identity!.Name</h1>
    <p class="lead text-secondary">Sistema de Gestión - Óptica Comunal</p>

</div>